*, *::before, *::after {
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;700&display=swap');

body {
    background: black;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 20%;
}

label {
    color: white;
    font-size: 1.25rem;
}

form > * {
    display: block;
    width: 100%;
    margin: 5% 0;
    padding: 2%;
    font-family: sans-serif;
    font-size: 1rem;
}

.submit {
    background: black;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.5s ease-in-out;
}

.submit:hover, 
.submit:focus {
    border-color: white;
}

.reset {
    background: black;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.5s ease-in-out;
}

.reset:hover, 
.reset:focus {
    border-color: white;
}

.back {
    background: black;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border 0.5s ease-in-out;
    text-align: center;
    text-decoration: none;
}

.back:hover, 
.back:focus {
    border-color: white;
}